.bc-outer-wrapper
  display: flex
  flex-direction: column
  align-items: center
  width: 100vw
  min-width: 1000px
  height: 100vh
  .bc-menu-bar
    display: flex
    align-items: center
    min-width: 1000px
    width: 100vw
    height: 60px
    color: #f4f4f4
    border-bottom: 1px solid #e8e8e8
    .logo-container
      height: 40px
      width: 70%
      .bc-fcclogo
        margin-top: 5px
        margin-left: 15px
        color: green
        font-size: 1.8em
    .links-container
      display: flex
      justify-content: center
      align-items: center
      height: 40px
      width: 30%
      .bc-allbooks, .bc-mybooks, .bc-signout, .bc-settings, .bc-signout, .bc-profile
        display: flex
        justify-content: center
        align-items: center
        font-family: verdana
        font-size: 1em
        width: auto
        color: #a5a5a5
        width: auto
        height: 40px
        cursor: pointer
        padding: 1px 15px
        border-radius: 25px
        &:hover
          background-color: rgba(0,0,0,0.1)  
      .bc-mymints-active, .bc-allmints-active
        color: #373737 !important
        font-weight: bold
      .bc-profile
        .bc-user-icon
          font-size: 1.2em
          margin-right: 3px
      .bc-settings
        font-size: 1.3em
        cursor: pointer
        position: relative

      .bc-signout
        cursor: pointer
        font-size: 1.3em
        .bc-animate-logout
          display: flex
          justify-content: center
          align-items: center
          width: 100%
          height: 100%
          transition: all .3s ease-in-out
          // z-index: 99=]r
          &:hover
            transform: translateX(6px)
  .bc-mints-wrapper
    width: 95%;
    min-width: 400px
    margin: 50px auto
    .bc-add-mint
      width: 200px
      height: 100px
      border: 1px solid grey
      border: 2px solid #FAFAFA
      margin-left: 10px
      box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4)
      position: relative
      .bc-minion
        width: 100px
        height: 100px
        position: absolute
        img
          width: 100%
      .bc-add-mints
        display: flex
        justify-content: center
        align-items: center
        position: absolute
        border-radius: 50%
        width: 50px
        height: 50px
        box-shadow: 0 0 10px rgba(34, 25, 25, 0.6), 0 0 10px rgba(34, 25, 25, 0.6) 
        transform: translate(120px, -75px)
        background-color: #bd081c
        color: white
        font-size: 45px
        cursor: pointer
        &:hover
          box-shadow: 0 0 10px rgba(34, 25, 25, 0.9), 0 0 10px rgba(34, 25, 25, 0.9)
        i
          transform: translateY(-3px)
      .bc-add-mints-text
        margin-left: 3px
        margin-top: 2px
        position: absolute
        font-size: 0.9em
        font-family: "Fira sans"
        color: #b6b6b6
        transform: translate(110px, -22px)
    .bc-mints-columns
      -webkit-column-count: 2;
      -webkit-column-gap: 10px;
      -webkit-column-fill: auto;
      -moz-column-count: 2;
      -moz-column-gap: 10px;
      column-count: 2;
      column-gap: 15px;
      column-fill: auto;
      
      .bc-img-grid
        display: inline-block
        background: #FEFEFE
        border: 2px solid #FAFAFA
        box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4)
        margin-left: 10px
        margin-right: 10px
        margin-bottom: 20px
        -webkit-column-break-inside: avoid
        -moz-column-break-inside: avoid
        column-break-inside: avoid
        padding: 6px
        padding-bottom: 5px
        border-radius: 5px
        background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9)
        opacity: 1
        -webkit-transition: all .2s ease-in-out
        -moz-transition: all .2s ease-in-out
        -o-transition: all .2s ease-in-out
        transition: all .2s ease-in-out
           
        img
          width: 100%
          margin-bottom: 5px
          border-radius: 5px
          -webkit-transition: all .2s ease-in-out
          -moz-transition: all .2s ease-in-out
          -o-transition: all .2s ease-in-out
          transition: all .2s ease-in-out
        .bc-mint-attr
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center
          font-family: "Fira sans"
          color: #737373
          .bc-mint-title
            text-align: center
            font-size: 0.85em
          .bc-mint-user-likes
            display: flex
            justify-content: center
            align-items: center
            width: 100%
            margin-top: 10px
            .bc-mint-username
              width: 65%
              font-size: 0.8em
              text-decoration: underline
              padding-left: 15px
              i              
                cursor: pointer
            .bc-mint-like
              width: 35%
              font-size: 0.85em
              margin-top: 5px
              i              
                cursor: pointer
              
@media (min-width: 560px)
	.bc-mints-columns
		-webkit-column-count: 3 !important
		-moz-column-count: 3 !important
		column-count: 3 !important

@media (min-width: 780px)
	.bc-mints-columns
		-webkit-column-count: 4 !important
		-moz-column-count: 4 !important
		column-count: 4 !important

@media (min-width: 1100px)
	.bc-mints-columns
		-webkit-column-count: 5 !important
		-moz-column-count: 5  !important
		column-count: 5 !important


//Add Mints Modal Styling
.ReactModal__Overlay--after-open
  background-color: rgba(0,0,0,0.75) !important
.ReactModal__Content, .ReactModal__Content--after-open
  border-radius: 0px !important
.modal-image-container
  display: none
  justify-content: center
  align-items: center
  width: auto
  height: auto
  max-width: 500px
  box-shadow: 0 2px 5px rgba(34, 25, 25, 0.7)
  margin-left: auto
  margin-right: auto
  // padding-top: 5px
  // padding-bottom: 5px
  img
    width: auto
    height: auto
    max-height: 350px
    max-width: 500px
    background-size: contain
.modal-input
  width: 460px
  height: 20px
  outline: none
  border: 1px solid #FAFAFA
  box-shadow: 0 0 2px rgba(34, 25, 25, 0.4)
  transform: translateX(52px)
  padding-left: 5px
  color: #737373
  background-color: #FCFCFC
  font-family: "Fira sans"
  position: relative
.modal-link-icon
  transform: translate(-438px, 3px)
.modal-title
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 35px
  font-size: 1.2em
  color: #FAFAFA
  background-color: rgb(94,30,177)
  border-bottom: 1px solid #737373
  
.modal-button-group
  width: 100%
  height: 30px
  display: flex
  justify-content: flex-end
  align-items: center
  // transform: translateY(-1px)
.modal-input-btn
  width: 50%
  height: 100%
  outline: none
  border: none
  cursor: pointer
  color: white
  background-color: rgb(31,127,215)
  font-weight: bold
.modal-close
  background-color: rgb(23,188,160) !important
  color: white !important


//Settings Modal Styling
.modal-settings-title
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 30px
  background-color: rgb(94,30,177)
  color: #FAFAFA
  border-bottom: 1px solid #737373
.modal-settings-input-group
  width: 100%
  height: 169px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  div
    display: flex
    width: 100%
    input
      width: 200px
      height: 20px
      outline: none
      padding-left: 5px
      background: none
      border: none
      color: #545454
      background-color: #f0f0f0
      font-family: "Fira sans"
      transform: translateX(-65px)
    .modal-input-label
      display: flex
      margin-left: 55px
      align-items: center
      width: 150px
      font-size: 0.8em
      
.modal-settings-input
  

.modal-settings-btn-group
  width: 100%
  height: 25px
  display: flex
  justify-content: flex-end
  align-items: center
.modal-settings-btn
  width: 50%
  height: 100%
  outline: none
  border: none
  cursor: pointer
  color: white
  font-weight: bold
  background-color: rgb(31,127,215)

::-webkit-scrollbar
  width: 5px
  height: 5px
::-webkit-scrollbar-track
  background: rgb(0,0,0)
  border: 3px solid transparent
  background-clip: content-box
::-webkit-scrollbar-thumb
  background: rgb(25,25,25)
  border: 1px solid rgb(0,0,0)

a
  text-decoration: none
  color: inherit
@keyframes settingsBox
  0%
    opacity: 0
  100%
    opacity: 1
